coverage
dist
node_modules
tsconfig.tsbuildinfo
.DS_Store
.idea
.vscode
.githooks
pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.*.local
*.log
*.tmp
*.swp
*.swo
*.tsbuildinfo
/.turbo
/.parcel-cache
/.cache
*.tsbuildinfo