coverage
dist
node_modules
tsconfig.tsbuildinfo
.DS_Store
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.githooks
pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.*.local
*.log
*.tmp
*.swp
*.swo
*.tsbuildinfo
/.turbo
/.parcel-cache
/.cache
*.tsbuildinfo
docs/.vitepress/cache
e2e/dist
